* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

div.bodyout div.title {
  width: 100%;
  background-color: #000;
  padding: 10px 0;
}

div.bodyout div.title div.wrapper {
  width: 68%;
  margin: 0 auto;
}

div.bodyout div.title div.wrapper:before {
  content: "";
  display: inline-block;
  height: 75px;
  width: 75px;
  background: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

div.bodyout div.title div.wrapper #uname {
  height: 75px;
  width: calc(100% - 231px);
  display: inline-block;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

div.bodyout div.title div.wrapper #uname #titlebox {
  height: 100%;
  width: 100%;
  display: table;
}

div.bodyout div.title div.wrapper #uname #titlebox #title {
  display: table-cell;
  vertical-align: middle;
}
